.product_item {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #888;
  border-radius: 10px;
}

.product_img {
  width: 120px;
  border-radius: 10px 0 0 10px;
}

.product_name {
  padding-top: 15px;
  font-size: 14px;
}

.remove_btn {
  height: 25px;
  width: 25px;
  color: crimson;
  border: 1px solid crimson;
}

.remove_btn:hover,
.remove_btn:focus {
  background-color: #ccc;
}
