.form {
  background: #eee;
  box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  @media screen and (min-width: 768px) {
    padding: 40px;
    width: 60%;
  }
  @media screen and (min-width: 1024px) {
    height: 410px;
  }
}

.form_wrapper {
  @media screen and (min-width: 1024px) {
    display: flex;
    column-gap: 30px;
  }
}

.field {
  display: block;
  background: white;
  border: 1px solid #888;
  border-radius: 10px;
  outline: none;
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 16px;
  font-size: 16px;

  @media screen and (min-width: 767px) {
    padding: 10px;
  }
}

.field:hover,
.field:focus {
  border: 1px solid #5cd3a8;
}

.error {
  color: red;
  font-size: 10px;
  margin-top: -12px;
}

.inputs_wrapper {
  @media screen and (min-width: 1024px) {
    width: 45%;
  }
}

.order_list_wrapper {
  @media screen and (min-width: 1024px) {
    height: 330px;
    width: 55%;
    overflow: auto;
  }
}

.order_list {
  padding-top: 22px;
  padding-right: 10px;
}

.btn {
  padding: 8px 30px;
  border: none;
  border-radius: 6px;
  background-color: honeydew;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #373737;
}

.btn:hover,
.btn:focus {
  box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  background-color: #5cd3a8;
}

.totalCost_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 767px) {
    flex-direction: row;
    align-items: baseline;
    gap: 50px;
  }
}

.cost {
  margin-left: 10px;
  font-size: 20px;
}

.oops_msg {
  padding: 40px 40px;
  color: red;
  text-align: center;
}
